attrCountLink=/mimi/documents?interactionid=
compoundLink=/mimi/compound?cid=
chromosomeLink=http://www.ncbi.nlm.nih.gov/projects/mapview/maps.cgi?taxid=9606&chr=
geneInteractionsLink=/mimi/gene?geneid=
geneLink=/mimi/gene?geneid=
genePublicationsLink=/mimi/gene?geneid=
genePathwaysLink=/mimi/gene?geneid=
goLink=http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:
keggCompoundLink=http://www.genome.jp/dbget-bin/www_bget?compound+
keggReactionLink=http://www.genome.jp/dbget-bin/www_bget?rn+
mapLocationLink=http://www.ncbi.nlm.nih.gov/sites/entrez?db=gene&cmd=search&term=
metscapeCompoundLink=/mimi/metscape?cids=
metscapeGeneLink=/mimi/metscape?geneids=
pubmedLink=http://www.ncbi.nlm.nih.gov/sites/entrez?db=pubmed&cmd=search&term=
documentGeneLink=/mimi/document?geneid\=??&pmid\=
documentInteractionLink=/mimi/document?interactionid\=??&pmid\=
reactionLink=/mimi/reaction?rid=

basePath=http://localhost:8080/mimi/
#basePath=http://mimi.ncibi.org/mimi
